.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: azure;
}
/*----------------------------------Nav-Bar-----------------------------*/
.Nav-Container{
  display: flex;
  margin :5px;
  justify-content: space-between;
  /* border: 1px solid black; */
  background-color: rgba(106, 104, 104, 0.614);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Div2{
  display: flex;
  align-items: center;
  gap: 10px;
}

/*-----------------------------------------------Login--------------------------------------------*/
.Login-Container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:20px;
}
.Login-Container>input{
  border: hidden;
  border-bottom: 2px solid;
}

/*-----------------------------Register--------------------------------------------------*/
.Regi-Container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:20px;
}
/*--------------------------------------------------table-----------------------------------------*/
.table{
 margin: auto;
 
}
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
.head{
  gap:20px;
}
tbody{
  border:1px solid black;
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  border-collapse: collapse;
}
select{
  height:22px;
  margin:20px;
}
.row{
  border:1px solid black;
}